@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

$app-bg: #4f6752;
$app-secondary-bg: #c4be9c;
$app-maintext: #01182b;
$app-stonkstext: #528b7e;
$active-or-error: #e46e68;

$offcanvas-bg-color: $app-secondary-bg;
$offcanvas-color: $app-maintext;

html, body, #root, .App {
    height: 100%;
    margin: auto;
    font-family: 'Mulish';
    background-color: $app-bg;
    color: $app-maintext;
    text-align: center;
}

main.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

main.App > main {
    position: absolute;
    top: 0;
    width: 90%;
    padding-top: 62px;
}

main.App > main.welcome, main.App > main.auth {
    position: static;
    padding-top: 0;
}

div.button-wrapper > a.btn, a.btn.btn-primary, button.btn {
    min-width: 100px;
}

.btn.btn-primary {
    color: $app-maintext;
    background-color: $app-secondary-bg;
    border: $app-maintext solid 1px;
}

.btn.btn-primary:hover {
    color: $app-maintext;
    background-color: $active-or-error;
    border: $app-maintext solid 1px;
    transition-duration: .3s;
}

.btn.btn-primary:disabled {
    color: $app-maintext;
    background-color: $app-secondary-bg;
    border: $app-maintext solid 1px;
    opacity: 0.3;
}

span.navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
}

hr {
    margin: 0 !important;
    color: $app-maintext !important;
}

.dropdown-menu.show {
    text-align: center;
    background-color: $app-secondary-bg;
    padding: 0;
}

span.logout {
    color: $active-or-error;
}

span.stonks {
    color: $app-stonkstext;
}

span.no-stonks {
    color: $active-or-error;
}

a.nav-link, a.dropdown-item {
    border-radius: 15px;
}

a.nav-link:hover, a.dropdown-item:hover, button.navbar-toggler:hover {
    background-color: $active-or-error;
    transition-duration: .3s;
}

button.navbar-toggler, button.navbar-toggler.collapsed {
    border: $app-maintext solid 1px;
    box-shadow: none;
}

Form {
    width: 60%;
    margin: auto;
}

Form.new-transaction {
    width: 100%;
}

table.table.table-bordered {
    border: $app-maintext solid 1px;
    background-color: $app-secondary-bg;
}

a.nav-link.options-col {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border: $app-maintext solid 1px;
}

.error-message, .warning-message {
    color: $active-or-error;
}

$theme-colors: (
    "primary": $app-secondary-bg
);

@import "~bootstrap/scss/bootstrap"