@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

:root {
    --app-bg: #4f6752;
    --app-maintext: #00100e;
    --app-stonks: #60c3ac;
    --button-bg: #c4be9c;
    --active: #c4716c;
}

html, .App {
    font-family: 'Mulish';
    background-color: var(--app-bg);
    color: var(--app-maintext);
}

button, input {
    font-family: 'Mulish';
    color: var(--app-maintext);
    background-color: var(--button-bg);
}

button:hover {
    background-color: var(--active);
}

button.disabled:hover {
    background-color: var(--button-bg);
}
